body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1490px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u78504 {
  position:fixed;
  left:50%;
  margin-left:-967px;
  top:50%;
  margin-top:-3225px;
}
#u78504_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1934px;
  height:6450px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78504_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:6450px;
}
#u78506 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:0px;
  width:990px;
  height:6450px;
  display:flex;
}
#u78506 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:6450px;
}
#u78507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:6450px;
  display:flex;
}
#u78507 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78509 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
}
#u78509_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:205px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78509_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:205px;
  background:inherit;
  background-color:rgba(131, 153, 167, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25098039215686274);
  -webkit-box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25098039215686274);
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25098039215686274);
}
#u78510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:205px;
  display:flex;
}
#u78510 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78511 {
  position:absolute;
  left:30px;
  top:20px;
}
#u78511_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1490px;
  height:997px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78511_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1490px;
  height:413px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1490px;
  height:413px;
  display:flex;
}
#u78512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1485px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1485px;
  height:79px;
  display:flex;
}
#u78514 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1485px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1485px;
  height:79px;
  display:flex;
}
#u78515 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Oswald", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#504F5C;
  text-align:left;
  text-transform:uppercase;
}
#u78516 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:26px;
  width:1341px;
  height:33px;
  display:flex;
  font-family:"Oswald", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#504F5C;
  text-align:left;
  text-transform:uppercase;
}
#u78516 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u78517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u78517 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:37px;
  width:6px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u78517 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1486px;
  height:2px;
}
#u78518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:81px;
  width:1485px;
  height:1px;
  display:flex;
}
#u78518 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:100px;
  background:inherit;
  background-color:rgba(244, 168, 32, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.25098039215686274);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.25098039215686274);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.25098039215686274);
}
#u78521 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:108px;
  width:422px;
  height:100px;
  display:flex;
}
#u78521 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u78522 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:124px;
  width:383px;
  height:25px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u78522 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u78523 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:159px;
  width:385px;
  height:34px;
  display:flex;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u78523 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:100px;
  background:inherit;
  background-color:rgba(142, 210, 157, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.25098039215686274);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.25098039215686274);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.25098039215686274);
}
#u78525 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:108px;
  width:422px;
  height:100px;
  display:flex;
}
#u78525 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u78526 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:124px;
  width:386px;
  height:25px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u78526 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u78527 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:159px;
  width:383px;
  height:34px;
  display:flex;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u78527 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:100px;
  background:inherit;
  background-color:rgba(236, 123, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.25098039215686274);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.25098039215686274);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.25098039215686274);
}
#u78529 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:108px;
  width:422px;
  height:100px;
  display:flex;
}
#u78529 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u78530 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:124px;
  width:390px;
  height:25px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u78530 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u78531 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:159px;
  width:384px;
  height:34px;
  display:flex;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u78531 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  color:#464646;
  text-align:right;
}
#u78532 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:263px;
  width:229px;
  height:25px;
  display:flex;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  color:#464646;
  text-align:right;
}
#u78532 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#464646;
  text-align:right;
}
#u78533 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:264px;
  width:244px;
  height:25px;
  display:flex;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#464646;
  text-align:right;
}
#u78533 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#464646;
  text-align:right;
}
#u78534 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:332px;
  width:244px;
  height:25px;
  display:flex;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#464646;
  text-align:right;
}
#u78534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#464646;
  text-align:right;
}
#u78535 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:332px;
  width:229px;
  height:25px;
  display:flex;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#464646;
  text-align:right;
}
#u78535 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78536_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78536_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78536_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78536_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u78536 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:260px;
  width:323px;
  height:32px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u78536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78536_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u78536.hint {
}
#u78536_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u78536.disabled {
}
#u78536_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u78536.hint.disabled {
}
#u78537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78537_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.5450980392156862);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u78537 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:328px;
  width:323px;
  height:32px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u78537 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78537_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u78537.disabled {
}
.u78537_input_option {
  font-weight:400;
  font-style:normal;
}
#u78538_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78538_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78538_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78538_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u78538 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:260px;
  width:323px;
  height:32px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u78538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78538_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u78538.hint {
}
#u78538_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u78538.disabled {
}
#u78538_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u78538.hint.disabled {
}
#u78539_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78539_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.5450980392156862);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u78539 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:328px;
  width:323px;
  height:32px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u78539 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78539_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u78539.disabled {
}
.u78539_input_option {
  font-weight:400;
  font-style:normal;
}
#u78540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1488px;
  height:548px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:449px;
  width:1488px;
  height:548px;
  display:flex;
}
#u78540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Oswald", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#504F5C;
  text-align:left;
  text-transform:uppercase;
}
#u78541 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:479px;
  width:1341px;
  height:33px;
  display:flex;
  font-family:"Oswald", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#504F5C;
  text-align:left;
  text-transform:uppercase;
}
#u78541 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u78542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1486px;
  height:2px;
}
#u78542 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:536px;
  width:1485px;
  height:1px;
  display:flex;
}
#u78542 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4D515D;
}
#u78544 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:731px;
  width:214px;
  height:44px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4D515D;
}
#u78544 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78546_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:134px;
  height:15px;
}
#u78546 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:905px;
  width:132px;
  height:13px;
  display:flex;
}
#u78546 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:left;
}
#u78547 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:905px;
  width:200px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:left;
}
#u78547 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78549_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:106px;
  height:15px;
}
#u78549 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:785px;
  width:104px;
  height:13px;
  display:flex;
}
#u78549 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:left;
}
#u78550 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:787px;
  width:169px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:left;
}
#u78550 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78552_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:121px;
  height:15px;
}
#u78552 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:647px;
  width:119px;
  height:13px;
  display:flex;
}
#u78552 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:left;
}
#u78553 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:636px;
  width:189px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:left;
}
#u78553 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78555_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:106px;
  height:15px;
}
#u78555 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:597px;
  width:104px;
  height:13px;
  display:flex;
}
#u78555 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:left;
}
#u78556 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:586px;
  width:163px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:left;
}
#u78556 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78558_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:106px;
  height:15px;
}
#u78558 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:584px;
  width:104px;
  height:13px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u78558 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:right;
}
#u78559 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:573px;
  width:164px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:right;
}
#u78559 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78561_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:106px;
  height:15px;
}
#u78561 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:740px;
  width:104px;
  height:13px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u78561 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:right;
}
#u78562 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:731px;
  width:174px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4D515D;
  text-align:right;
}
#u78562 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(74, 128, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78565 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:611px;
  width:28px;
  height:28px;
  display:flex;
}
#u78565 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78566 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:614px;
  width:412px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(110, 174, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78568 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:658px;
  width:28px;
  height:28px;
  display:flex;
}
#u78568 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78569 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:661px;
  width:412px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78569 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(142, 210, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78571 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:705px;
  width:28px;
  height:28px;
  display:flex;
}
#u78571 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78572 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:708px;
  width:412px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78572 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 200, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78574 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:752px;
  width:28px;
  height:28px;
  display:flex;
}
#u78574 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78575 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:755px;
  width:412px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(252, 154, 141, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78577 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:799px;
  width:28px;
  height:28px;
  display:flex;
}
#u78577 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78578 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:802px;
  width:412px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(236, 123, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78580 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:846px;
  width:28px;
  height:28px;
  display:flex;
}
#u78580 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78581 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:849px;
  width:412px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u78581 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u78583 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:628px;
  width:87px;
  height:102px;
  display:flex;
}
#u78583 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:63px;
}
#u78584 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:605px;
  width:110px;
  height:63px;
  display:flex;
}
#u78584 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:57px;
}
#u78585 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:605px;
  width:113px;
  height:57px;
  display:flex;
}
#u78585 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:188px;
}
#u78586 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:717px;
  width:300px;
  height:188px;
  display:flex;
}
#u78586 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:279px;
}
#u78587 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:626px;
  width:267px;
  height:279px;
  display:flex;
}
#u78587 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:290px;
}
#u78588 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:605px;
  width:149px;
  height:290px;
  display:flex;
}
#u78588 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u78589 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:621px;
  width:6px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u78589 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
