body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u77 {
  position:fixed;
  left:346px;
  top:90px;
  width:1574px;
  height:795px;
}
#u77_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1574px;
  height:795px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1574px;
  height:797px;
}
#u78_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1574px;
  height:797px;
  overflow:auto;
}
#u79 {
  position:fixed;
  left:0px;
  top:92px;
  width:346px;
  height:796px;
}
#u79_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:796px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:2px;
  -moz-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(242, 242, 242, 0.34901960784313724);
}
#u79_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:48px;
  display:flex;
}
.u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u82_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:48px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u82.mouseOver {
}
.u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
.u83 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:9px;
  width:240px;
  height:30px;
  display:flex;
  font-family:"Oswald", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#757575;
}
.u83 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u83_img.mouseOver {
}
.u83.mouseOver {
}
.u83_img.selected {
}
.u83.selected {
}
.u83_img.mouseOver.selected {
}
.u83.mouseOver.selected {
}
.u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:12px;
}
.u84 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:16px;
  width:17px;
  height:12px;
  display:flex;
  font-size:15px;
}
.u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 60px;
  box-sizing:border-box;
  width:100%;
}
.u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
.u85 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:12px;
  width:20px;
  height:18px;
  display:flex;
}
.u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:48px;
}
#u80-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:336px;
  height:48px;
}
#u80-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:336px;
  height:48px;
}
#u80-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:336px;
  height:48px;
}
#u80-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:336px;
  height:48px;
}
#u80-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:336px;
  height:48px;
}
#u80-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:336px;
  height:48px;
}
#u80-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:336px;
  height:48px;
}
#u80-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:336px;
  height:48px;
}
#u80-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:336px;
  height:48px;
}
#u80-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:336px;
  height:48px;
}
#u80-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:336px;
  height:48px;
}
#u80-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:336px;
  height:48px;
}
#u80-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:650px;
  width:336px;
  height:48px;
}
#u80-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:700px;
  width:336px;
  height:48px;
}
#u80-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:336px;
  height:48px;
}
#u80-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:800px;
  width:336px;
  height:48px;
}
#u80-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:850px;
  width:336px;
  height:48px;
}
#u80-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:900px;
  width:336px;
  height:48px;
}
#u80-20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:950px;
  width:336px;
  height:48px;
}
#u80-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1000px;
  width:336px;
  height:48px;
}
#u80-22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1050px;
  width:336px;
  height:48px;
}
#u80-23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1100px;
  width:336px;
  height:48px;
}
#u80-24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1150px;
  width:336px;
  height:48px;
}
#u80-25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:336px;
  height:48px;
}
#u80-26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1250px;
  width:336px;
  height:48px;
}
#u80-27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1300px;
  width:336px;
  height:48px;
}
#u80-28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1350px;
  width:336px;
  height:48px;
}
#u80-29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1400px;
  width:336px;
  height:48px;
}
#u80-30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1450px;
  width:336px;
  height:48px;
}
#u80-31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1500px;
  width:336px;
  height:48px;
}
#u80-32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1550px;
  width:336px;
  height:48px;
}
#u80-33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1600px;
  width:336px;
  height:48px;
}
#u80-34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1650px;
  width:336px;
  height:48px;
}
#u80-35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1700px;
  width:336px;
  height:48px;
}
#u80-36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1750px;
  width:336px;
  height:48px;
}
#u80-37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1800px;
  width:336px;
  height:48px;
}
#u80-38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1850px;
  width:336px;
  height:48px;
}
#u80-39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1900px;
  width:336px;
  height:48px;
}
#u80-40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1950px;
  width:336px;
  height:48px;
}
#u80-41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2000px;
  width:336px;
  height:48px;
}
#u80-42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2050px;
  width:336px;
  height:48px;
}
#u80-43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2100px;
  width:336px;
  height:48px;
}
#u80-44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2150px;
  width:336px;
  height:48px;
}
#u80-45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2200px;
  width:336px;
  height:48px;
}
#u80-46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2250px;
  width:336px;
  height:48px;
}
#u80-47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2300px;
  width:336px;
  height:48px;
}
#u80-48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2350px;
  width:336px;
  height:48px;
}
#u80-49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2400px;
  width:336px;
  height:48px;
}
#u80-50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2450px;
  width:336px;
  height:48px;
}
#u80-51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2500px;
  width:336px;
  height:48px;
}
#u80-52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2550px;
  width:336px;
  height:48px;
}
#u80-53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2600px;
  width:336px;
  height:48px;
}
#u80-54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2650px;
  width:336px;
  height:48px;
}
#u80-55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2700px;
  width:336px;
  height:48px;
}
#u80-56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2750px;
  width:336px;
  height:48px;
}
#u80-57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2800px;
  width:336px;
  height:48px;
}
#u80-58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2850px;
  width:336px;
  height:48px;
}
#u80-59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2900px;
  width:336px;
  height:48px;
}
#u80-60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2950px;
  width:336px;
  height:48px;
}
#u80-61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3000px;
  width:336px;
  height:48px;
}
#u80-62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3050px;
  width:336px;
  height:48px;
}
#u80-63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3100px;
  width:336px;
  height:48px;
}
#u80-64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3150px;
  width:336px;
  height:48px;
}
#u80-65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3200px;
  width:336px;
  height:48px;
}
#u80-66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3250px;
  width:336px;
  height:48px;
}
#u80-67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3300px;
  width:336px;
  height:48px;
}
#u80-68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3350px;
  width:336px;
  height:48px;
}
#u80-69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3400px;
  width:336px;
  height:48px;
}
#u80-70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3450px;
  width:336px;
  height:48px;
}
#u80-71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3500px;
  width:336px;
  height:48px;
}
#u80-72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3550px;
  width:336px;
  height:48px;
}
#u80-73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3600px;
  width:336px;
  height:48px;
}
#u80-74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3650px;
  width:336px;
  height:48px;
}
#u80-75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3700px;
  width:336px;
  height:48px;
}
#u80-76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3750px;
  width:336px;
  height:48px;
}
#u80-77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3800px;
  width:336px;
  height:48px;
}
#u80-78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3850px;
  width:336px;
  height:48px;
}
#u80-79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3900px;
  width:336px;
  height:48px;
}
#u80-80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3950px;
  width:336px;
  height:48px;
}
#u80-81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4000px;
  width:336px;
  height:48px;
}
#u80-82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4050px;
  width:336px;
  height:48px;
}
#u80-83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4100px;
  width:336px;
  height:48px;
}
#u80-84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4150px;
  width:336px;
  height:48px;
}
#u80-85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4200px;
  width:336px;
  height:48px;
}
#u80-86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4250px;
  width:336px;
  height:48px;
}
#u80-87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4300px;
  width:336px;
  height:48px;
}
#u80-88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4350px;
  width:336px;
  height:48px;
}
#u80-89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4400px;
  width:336px;
  height:48px;
}
#u80-90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4450px;
  width:336px;
  height:48px;
}
#u80-91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4500px;
  width:336px;
  height:48px;
}
#u80-92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4550px;
  width:336px;
  height:48px;
}
#u80-93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4600px;
  width:336px;
  height:48px;
}
#u80-94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4650px;
  width:336px;
  height:48px;
}
#u80-95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4700px;
  width:336px;
  height:48px;
}
#u80-96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4750px;
  width:336px;
  height:48px;
}
#u80-97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4800px;
  width:336px;
  height:48px;
}
#u80-98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4850px;
  width:336px;
  height:48px;
}
#u80-99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4900px;
  width:336px;
  height:48px;
}
#u80-100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4950px;
  width:336px;
  height:48px;
}
#u80-101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5000px;
  width:336px;
  height:48px;
}
#u80-102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5050px;
  width:336px;
  height:48px;
}
#u80-103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5100px;
  width:336px;
  height:48px;
}
#u80-104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5150px;
  width:336px;
  height:48px;
}
#u80-105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5200px;
  width:336px;
  height:48px;
}
#u80-106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5250px;
  width:336px;
  height:48px;
}
#u80-107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5300px;
  width:336px;
  height:48px;
}
#u80-108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5350px;
  width:336px;
  height:48px;
}
#u80-109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5400px;
  width:336px;
  height:48px;
}
#u80-110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5450px;
  width:336px;
  height:48px;
}
#u80-111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5500px;
  width:336px;
  height:48px;
}
#u80-112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5550px;
  width:336px;
  height:48px;
}
#u80-113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5600px;
  width:336px;
  height:48px;
}
#u80-114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5650px;
  width:336px;
  height:48px;
}
#u80-115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5700px;
  width:336px;
  height:48px;
}
#u80-116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5750px;
  width:336px;
  height:48px;
}
#u80-117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5800px;
  width:336px;
  height:48px;
}
#u80-118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5850px;
  width:336px;
  height:48px;
}
#u80-119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5900px;
  width:336px;
  height:48px;
}
#u80-120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5950px;
  width:336px;
  height:48px;
}
#u80-121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6000px;
  width:336px;
  height:48px;
}
#u80-122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6050px;
  width:336px;
  height:48px;
}
#u80-123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6100px;
  width:336px;
  height:48px;
}
#u80-124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6150px;
  width:336px;
  height:48px;
}
#u80-125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6200px;
  width:336px;
  height:48px;
}
#u80-126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6250px;
  width:336px;
  height:48px;
}
#u80-127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6300px;
  width:336px;
  height:48px;
}
#u80-128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6350px;
  width:336px;
  height:48px;
}
#u80-129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6400px;
  width:336px;
  height:48px;
}
#u80-130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6450px;
  width:336px;
  height:48px;
}
#u80-131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6500px;
  width:336px;
  height:48px;
}
#u80-132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6550px;
  width:336px;
  height:48px;
}
#u80-133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6600px;
  width:336px;
  height:48px;
}
#u80-134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6650px;
  width:336px;
  height:48px;
}
#u80-135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6700px;
  width:336px;
  height:48px;
}
#u80-136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6750px;
  width:336px;
  height:48px;
}
#u80-137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6800px;
  width:336px;
  height:48px;
}
#u80-138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6850px;
  width:336px;
  height:48px;
}
#u80-139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6900px;
  width:336px;
  height:48px;
}
#u80-140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6950px;
  width:336px;
  height:48px;
}
#u80-141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7000px;
  width:336px;
  height:48px;
}
#u80-142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7050px;
  width:336px;
  height:48px;
}
#u80-143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7100px;
  width:336px;
  height:48px;
}
#u80-144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7150px;
  width:336px;
  height:48px;
}
#u80-145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7200px;
  width:336px;
  height:48px;
}
#u80-146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7250px;
  width:336px;
  height:48px;
}
#u80-147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7300px;
  width:336px;
  height:48px;
}
#u80-148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7350px;
  width:336px;
  height:48px;
}
#u80-149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7400px;
  width:336px;
  height:48px;
}
#u80-150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7450px;
  width:336px;
  height:48px;
}
#u80-151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7500px;
  width:336px;
  height:48px;
}
#u80-152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7550px;
  width:336px;
  height:48px;
}
#u80-153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7600px;
  width:336px;
  height:48px;
}
#u80-154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7650px;
  width:336px;
  height:48px;
}
#u80-155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7700px;
  width:336px;
  height:48px;
}
#u80-156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7750px;
  width:336px;
  height:48px;
}
#u80-157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7800px;
  width:336px;
  height:48px;
}
#u80-158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7850px;
  width:336px;
  height:48px;
}
#u80-159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7900px;
  width:336px;
  height:48px;
}
#u80-160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7950px;
  width:336px;
  height:48px;
}
#u80-161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8000px;
  width:336px;
  height:48px;
}
#u80-162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8050px;
  width:336px;
  height:48px;
}
#u80-163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8100px;
  width:336px;
  height:48px;
}
#u80-164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8150px;
  width:336px;
  height:48px;
}
#u80-165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8200px;
  width:336px;
  height:48px;
}
#u80-166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8250px;
  width:336px;
  height:48px;
}
#u80-167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8300px;
  width:336px;
  height:48px;
}
#u80-168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8350px;
  width:336px;
  height:48px;
}
#u80-169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8400px;
  width:336px;
  height:48px;
}
#u80-170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8450px;
  width:336px;
  height:48px;
}
#u80-171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8500px;
  width:336px;
  height:48px;
}
#u80-172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8550px;
  width:336px;
  height:48px;
}
#u80-173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8600px;
  width:336px;
  height:48px;
}
#u80-174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8650px;
  width:336px;
  height:48px;
}
#u80-175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8700px;
  width:336px;
  height:48px;
}
#u80-176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8750px;
  width:336px;
  height:48px;
}
#u80-177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8800px;
  width:336px;
  height:48px;
}
#u80-178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8850px;
  width:336px;
  height:48px;
}
#u80-179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8900px;
  width:336px;
  height:48px;
}
#u80-180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8950px;
  width:336px;
  height:48px;
}
#u80-181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9000px;
  width:336px;
  height:48px;
}
#u80-182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9050px;
  width:336px;
  height:48px;
}
#u80-183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9100px;
  width:336px;
  height:48px;
}
#u80-184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9150px;
  width:336px;
  height:48px;
}
#u80-185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9200px;
  width:336px;
  height:48px;
}
#u80-186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9250px;
  width:336px;
  height:48px;
}
#u80-187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9300px;
  width:336px;
  height:48px;
}
#u80-188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9350px;
  width:336px;
  height:48px;
}
#u80-189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9400px;
  width:336px;
  height:48px;
}
#u80-190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9450px;
  width:336px;
  height:48px;
}
#u80-191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9500px;
  width:336px;
  height:48px;
}
#u80-192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9550px;
  width:336px;
  height:48px;
}
#u80-193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9600px;
  width:336px;
  height:48px;
}
#u80-194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9650px;
  width:336px;
  height:48px;
}
#u80-195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9700px;
  width:336px;
  height:48px;
}
#u80-196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9750px;
  width:336px;
  height:48px;
}
#u80-197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9800px;
  width:336px;
  height:48px;
}
#u80-198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9850px;
  width:336px;
  height:48px;
}
#u80-199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9900px;
  width:336px;
  height:48px;
}
#u80-200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9950px;
  width:336px;
  height:48px;
}
#u80-201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10000px;
  width:336px;
  height:48px;
}
#u80-202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10050px;
  width:336px;
  height:48px;
}
#u80-203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10100px;
  width:336px;
  height:48px;
}
#u80-204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10150px;
  width:336px;
  height:48px;
}
#u80-205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10200px;
  width:336px;
  height:48px;
}
#u80-206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10250px;
  width:336px;
  height:48px;
}
#u80-207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10300px;
  width:336px;
  height:48px;
}
#u80-208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10350px;
  width:336px;
  height:48px;
}
#u80-209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10400px;
  width:336px;
  height:48px;
}
#u80-210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10450px;
  width:336px;
  height:48px;
}
#u80-211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10500px;
  width:336px;
  height:48px;
}
#u80-212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10550px;
  width:336px;
  height:48px;
}
#u80-213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10600px;
  width:336px;
  height:48px;
}
#u80-214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10650px;
  width:336px;
  height:48px;
}
#u80-215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10700px;
  width:336px;
  height:48px;
}
#u80-216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10750px;
  width:336px;
  height:48px;
}
#u80-217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10800px;
  width:336px;
  height:48px;
}
#u80-218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10850px;
  width:336px;
  height:48px;
}
#u80-219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10900px;
  width:336px;
  height:48px;
}
#u80-220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10950px;
  width:336px;
  height:48px;
}
#u80-221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11000px;
  width:336px;
  height:48px;
}
#u80-222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11050px;
  width:336px;
  height:48px;
}
#u80-223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11100px;
  width:336px;
  height:48px;
}
#u80-224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11150px;
  width:336px;
  height:48px;
}
#u80-225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11200px;
  width:336px;
  height:48px;
}
#u80-226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11250px;
  width:336px;
  height:48px;
}
#u80-227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11300px;
  width:336px;
  height:48px;
}
#u80-228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11350px;
  width:336px;
  height:48px;
}
#u80-229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11400px;
  width:336px;
  height:48px;
}
#u80-230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11450px;
  width:336px;
  height:48px;
}
#u80-231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11500px;
  width:336px;
  height:48px;
}
#u80-232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11550px;
  width:336px;
  height:48px;
}
#u80-233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11600px;
  width:336px;
  height:48px;
}
#u80-234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11650px;
  width:336px;
  height:48px;
}
#u80-235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11700px;
  width:336px;
  height:48px;
}
#u80-236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11750px;
  width:336px;
  height:48px;
}
#u80-237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11800px;
  width:336px;
  height:48px;
}
#u80-238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11850px;
  width:336px;
  height:48px;
}
#u80-239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11900px;
  width:336px;
  height:48px;
}
#u80-240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11950px;
  width:336px;
  height:48px;
}
#u80-241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12000px;
  width:336px;
  height:48px;
}
#u80-242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12050px;
  width:336px;
  height:48px;
}
#u80-243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12100px;
  width:336px;
  height:48px;
}
#u80-244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12150px;
  width:336px;
  height:48px;
}
#u80-245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12200px;
  width:336px;
  height:48px;
}
#u80-246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12250px;
  width:336px;
  height:48px;
}
#u80-247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12300px;
  width:336px;
  height:48px;
}
#u80-248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12350px;
  width:336px;
  height:48px;
}
#u80-249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12400px;
  width:336px;
  height:48px;
}
#u80-250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12450px;
  width:336px;
  height:48px;
}
#u80-251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12500px;
  width:336px;
  height:48px;
}
#u80-252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12550px;
  width:336px;
  height:48px;
}
#u80-253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12600px;
  width:336px;
  height:48px;
}
#u80-254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12650px;
  width:336px;
  height:48px;
}
#u80-255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12700px;
  width:336px;
  height:48px;
}
#u80-256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12750px;
  width:336px;
  height:48px;
}
#u80-257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12800px;
  width:336px;
  height:48px;
}
#u80-258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12850px;
  width:336px;
  height:48px;
}
#u80-259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12900px;
  width:336px;
  height:48px;
}
#u80-260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12950px;
  width:336px;
  height:48px;
}
#u80-261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13000px;
  width:336px;
  height:48px;
}
#u80-262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13050px;
  width:336px;
  height:48px;
}
#u80-263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13100px;
  width:336px;
  height:48px;
}
#u80-264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13150px;
  width:336px;
  height:48px;
}
#u80-265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13200px;
  width:336px;
  height:48px;
}
#u80-266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13250px;
  width:336px;
  height:48px;
}
#u80-267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13300px;
  width:336px;
  height:48px;
}
#u80-268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13350px;
  width:336px;
  height:48px;
}
#u80-269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13400px;
  width:336px;
  height:48px;
}
#u80-270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13450px;
  width:336px;
  height:48px;
}
#u80-271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13500px;
  width:336px;
  height:48px;
}
#u80-272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13550px;
  width:336px;
  height:48px;
}
#u80-273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13600px;
  width:336px;
  height:48px;
}
#u80-274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13650px;
  width:336px;
  height:48px;
}
#u80-275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13700px;
  width:336px;
  height:48px;
}
#u80-276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13750px;
  width:336px;
  height:48px;
}
#u80-277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13800px;
  width:336px;
  height:48px;
}
#u80-278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13850px;
  width:336px;
  height:48px;
}
#u80-279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13900px;
  width:336px;
  height:48px;
}
#u80-280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13950px;
  width:336px;
  height:48px;
}
#u80-281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14000px;
  width:336px;
  height:48px;
}
#u80-282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14050px;
  width:336px;
  height:48px;
}
#u80-283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14100px;
  width:336px;
  height:48px;
}
#u80-284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14150px;
  width:336px;
  height:48px;
}
#u80-285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14200px;
  width:336px;
  height:48px;
}
#u80-286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14250px;
  width:336px;
  height:48px;
}
#u80-287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14300px;
  width:336px;
  height:48px;
}
#u80-288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14350px;
  width:336px;
  height:48px;
}
#u80-289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14400px;
  width:336px;
  height:48px;
}
#u80-290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14450px;
  width:336px;
  height:48px;
}
#u80-291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14500px;
  width:336px;
  height:48px;
}
#u80-292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14550px;
  width:336px;
  height:48px;
}
#u80-293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14600px;
  width:336px;
  height:48px;
}
#u80-294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14650px;
  width:336px;
  height:48px;
}
#u80-295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14700px;
  width:336px;
  height:48px;
}
#u80-296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14750px;
  width:336px;
  height:48px;
}
#u80-297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14800px;
  width:336px;
  height:48px;
}
#u80-298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14850px;
  width:336px;
  height:48px;
}
#u80-299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14900px;
  width:336px;
  height:48px;
}
#u80-300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14950px;
  width:336px;
  height:48px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:14998px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u86 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
  height:92px;
}
#u86_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:92px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:92px;
  background:inherit;
  background-color:rgba(91, 91, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u88 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1920px;
  height:92px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:1669px;
  top:20px;
  width:53px;
  height:53px;
}
#u90_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1681px;
  top:30px;
  width:31px;
  height:31px;
  display:flex;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1534px;
  top:28px;
  width:36px;
  height:36px;
  display:flex;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1539px;
  top:31px;
  width:27px;
  height:29px;
  display:flex;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:31px;
  width:8px;
  height:8px;
  display:flex;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:1541px;
  top:33px;
  width:25px;
  height:25px;
  display:flex;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(244, 168, 32, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1618px;
  top:27px;
  width:38px;
  height:38px;
  display:flex;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1626px;
  top:35px;
  width:22px;
  height:22px;
  display:flex;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:35px;
  width:22px;
  height:22px;
  display:flex;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:32px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:1731px;
  top:35px;
  width:127px;
  height:22px;
  display:flex;
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1842px;
  top:43px;
  width:14px;
  height:9px;
  display:flex;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1844px;
  top:40px;
  width:9px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:69px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:12px;
  width:297px;
  height:69px;
  display:flex;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108 {
  position:fixed;
  left:0px;
  top:0px;
  width:366px;
  height:92px;
}
#u108_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:92px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:29px;
  width:34px;
  height:35px;
  display:flex;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:38px;
  width:14px;
  height:17px;
  display:flex;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112 {
  position:fixed;
  left:0px;
  top:27px;
}
#u112_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:2px;
  width:34px;
  height:35px;
  display:flex;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:14px;
  height:17px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:92px;
  width:415px;
  height:285px;
  visibility:hidden;
}
#u116_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:285px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:10px 10px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:10px 10px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:10px 10px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u117 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-2px;
  width:386px;
  height:264px;
  display:flex;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:70px;
  background:inherit;
  background-color:rgba(222, 248, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 168, 32, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:45px;
  width:363px;
  height:70px;
  display:flex;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:61px;
  background:inherit;
  background-color:rgba(222, 248, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:51px;
  width:339px;
  height:61px;
  display:flex;
}
#u120 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(222, 248, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:48px;
  width:23px;
  height:23px;
  display:flex;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 168, 32, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:126px;
  width:363px;
  height:97px;
  display:flex;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:135px;
  width:339px;
  height:61px;
  display:flex;
}
#u124 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:129px;
  width:23px;
  height:23px;
  display:flex;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
